<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Core
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <img src="assets/core.jpg" alt="">
  <ion-card-header>


    <ion-card-title> Desenvolvido por:  </ion-card-title>

  </ion-card-header>

  <ion-item>
    <ion-icon name="logo-youtube"></ion-icon>
     <ion-label> Henrique Marangon</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="mail-unread"></ion-icon>
     <ion-label> jogosdasantigas@gmail.com </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="game-controller-outline"></ion-icon>
     <ion-label>http://www.jogosmetacaptos/core.com.br </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-instagram"></ion-icon>
     <ion-label>Henrique_Core_oficial  </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-github"></ion-icon>
     <ion-label>Core_Pro_git@gmail.com </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="pizza"></ion-icon>
     <ion-label>versão 0.0.1</ion-label>
  </ion-item>

</ion-content>
